<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962968510536-aokjdam0520264os3aasvpvhq2scp9ub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962968510536-aokjdam0520264os3aasvpvhq2scp9ub</string>
	<key>API_KEY</key>
	<string>AIzaSyC5cK8i9aKSA-7nc-UV0TSCgvliTahDpgM</string>
	<key>GCM_SENDER_ID</key>
	<string>962968510536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.betfuse</string>
	<key>PROJECT_ID</key>
	<string>betfuse</string>
	<key>STORAGE_BUCKET</key>
	<string>betfuse.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962968510536:ios:29e9839469a4e30603787d</string>
	<key>DATABASE_URL</key>
	<string>https://betfuse-default-rtdb.firebaseio.com</string>
</dict>
</plist>